.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: #000;
  background-image: url(../../../images/add-button.svg);
  background-size: 100%;
  border: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__close {
      width: 26px;
      height: 26px;
      right: 0;
  }
}

