.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 336px;
  position: relative;
  margin: 0 auto 0 0;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__info {
      min-width: 282px;
    }
  }
